networks:
  bdCluster:
    name: bdCluster
    driver: ipvlan
    external: true
    driver_opts:
      parent: ${ETHERNET_NAME}
    ipam:
      config:
        - subnet: 192.168.1.0/24
          ip_range: 192.168.1.0/24
          gateway: 192.168.1.1

volumes:
  cifs-volume:
    driver_opts:
      type: cifs
      o: nounix,rw
      device: //worker1.bdc.home/extraJars

services:

  sparkimage:
    build:
      context: "../spark/"
      dockerfile: Dockerfile
      args:
        - SPARK_VERSION=${SPARK_VERSION}
    image: spark
    
  sm:
    extends:
      file: ../common.yml
      service: spark
    hostname: sm.bdc.home
    container_name: sm
    networks:
      bdCluster:
        ipv4_address: 192.168.1.92      
    ports:
      - "4040:4040"
      - "9090:8080"
      - "7077:7077"
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_CORES=4
      - SPARK_MASTER_MEMORY=8g
      - SPARK_METRICS_ENABLED=true

  sw1:
    extends:
      file: ../common.yml
      service: spark
    container_name: sw1
    hostname: sw1.bdc.home
    networks:
      bdCluster:
        ipv4_address: 192.168.1.111  
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://sm.bdc.home:7077
      - SPARK_WORKER_CORES=6
      - SPARK_WORKER_MEMORY=20g


  sw2:
    extends:
      file: ../common.yml
      service: spark
    container_name: sw2
    hostname: sw2.bdc.home
    networks:
      bdCluster:
        ipv4_address: 192.168.1.112  
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://sm.bdc.home:7077
      - SPARK_WORKER_CORES=6
      - SPARK_WORKER_MEMORY=20g

  sw3:
    extends:
      file: ../common.yml
      service: spark
    container_name: sw3
    hostname: sw3.bdc.home
    networks:
      bdCluster:
        ipv4_address: 192.168.1.113  
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://sm.bdc.home:7077
      - SPARK_WORKER_CORES=6
      - SPARK_WORKER_MEMORY=20g
