services:

  dns1:
    container_name: dns1
    hostname: dns1.bdc.home
    image: ubuntu/bind9:latest
    environment:
      - BIND9_USER=root
      - TZ=Asia/Kolkata
    volumes:
      - ./bind9/config:/etc/bind:z
      - ./bind9/cache:/var/cache/bind:z
      - ./bind9/records:/var/lib/bind:z
    network_mode: host
    restart: unless-stopped

  registry:
    image: registry:2
    hostname: registry.bdc.home
    container_name: docker_registry
    network_mode: host
    environment:
      TZ: Asia/Kolkata
      REGISTRY_VALIDATION_DISABLED: 'true'
    # ports:
    #   - 5000:5000
    volumes:
      - ${LOCAL_DIR}docker/registry-data:/var/lib/registry:z
    restart: unless-stopped

  pypi-server:
    image: pypiserver/pypiserver:latest
    ports:
      - 8080:8080
    volumes:
      - pypi-server-data:/data/packages
    command: "-P . -a . /data/packages" # Allows unauthorized uploads and serves from /data/packages
    restart: always

  redis:
    image: redis:latest
    hostname: redis.bdc.home
    container_name: redis
    restart: unless-stopped
    network_mode: host
    # ports:
    #   - 6379:6379
    environment:
      - TZ=Asia/Kolkata
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 30s
      retries: 50

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    hostname: kafka-ui.bdc.home
    container_name: kafka-ui
    restart: unless-stopped
    network_mode: host
    # ports:
    #   - 8080:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: 'BDC-KAFKA'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-1.bdc.home:9092,kafka-2.bdc.home:9092,kafka-3.bdc.home:9092
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://kafka-sr.bdc.home:8081
      KAFKA_CLUSTERS_0_KSQLDB_SERVER: http://ksqldb.bdc.home:8088
      DYNAMIC_CONFIG_ENABLED: true
  
  

  
  

  