# Global configuration block
{
   # Optional: Prevents Caddy from attempting to contact public ACME servers for local domains
    debug
    admin 192.168.1.10:2019
    local_certs
}

(ssl_certs) {
    tls /etc/caddy/certs/_wildcard.bdc.home.pem /etc/caddy/certs/_wildcard.bdc.home-key.pem
}

bdc.home {
    reverse_proxy caddy.bdc.home:80
}

hue.bdc.home {
    import ssl_certs
    reverse_proxy hue.bdc.home:8888
}
