# Global configuration block
{
    # Optional: Prevents Caddy from attempting to contact public ACME servers for local domains
    local_certs
}

caddy.bdc.home {
    bind 192.168.1.10
    reverse_proxy caddy.bdc.home:80
}


(ssl_certs) {
    tls /etc/caddy/certs/_wildcard.bdc.home.pem /etc/caddy/certs/_wildcard.bdc.home-key.pem
}

hue.bdc.home {
    import ssl_certs
    reverse_proxy hue.bdc.home:8888
}

kafka-ui.bdc.home {
    import ssl_certs
    reverse_proxy kafka-ui.bdc.home:8080
}

nginx-lb.bdc.home {
    import ssl_certs
    reverse_proxy nginx-lb.bdc.home:9000
}
