# Global configuration block
{
   # Optional: Prevents Caddy from attempting to contact public ACME servers for local domains
    debug
    admin 192.168.1.10:2019
    email root@worker0
    local_certs
}

(ssl_certs) {
    tls /etc/caddy/certs/_wildcard.bdc.home.pem /etc/caddy/certs/_wildcard.bdc.home-key.pem
}

hue.bdc.home {
    import ssl_certs
    reverse_proxy hue.bdc.home:8888 {
        # Hue requires websockets and header forwarding for optimal function
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}

minio.bdc.home {
    import ssl_certs
    reverse_proxy nginx-lb.bdc.home:9001
}

kafka.bdc.home {
    import ssl_certs
    reverse_proxy kafka-ui.bdc.home:8080
}

polaris.bdc.home {
    import ssl_certs
    reverse_proxy polaris-ui.bdc.home:8080
}

airflow.bdc.home {
    import ssl_certs
    reverse_proxy airflow.bdc.home:8080
}

flower.bdc.home {
    import ssl_certs
    reverse_proxy flower.bdc.home:5555
}
