networks:
  bdCluster:
    name: bdCluster
    driver: ipvlan
    external: true
    driver_opts:
      parent: ${ETHERNET_NAME}
    ipam:
      config:
        - subnet: 192.168.1.0/24
          ip_range: 192.168.1.0/24
          gateway: 192.168.1.1

services:

  superset:
    image: apache/superset:6.0.0-py311
    hostname: superset.bdc.home
    container_name: superset
    restart: unless-stopped
    networks:
      bdCluster:
        ipv4_address: 192.168.1.32
    ports:
      - 8088:8088
    # volumes:
    #   - ./hue/hue.ini:/usr/share/hue/desktop/conf/z-hue.ini

  