networks:
  bdCluster:
    name: bdCluster
    driver: ipvlan
    external: true
    driver_opts:
      parent: ${ETHERNET_NAME}
    ipam:
      config:
        - subnet: 192.168.1.0/24
          ip_range: 192.168.1.0/24
          gateway: 192.168.1.1

services:

  trino-co:
    image: "trinodb/trino:latest"
    hostname: trino-co
    container_name: trino-co
    restart: unless-stopped
    networks:
      bdCluster:
        ipv4_address: 192.168.1.33
    ports:
      - 8081:8080
    volumes:
      - ./etc-co:/etc/trino
      - ./catalog:/etc/trino/catalog

  trino-wk1:
    image: "trinodb/trino:latest"
    hostname: trino-wk1
    container_name: trino-wk1
    restart: unless-stopped
    networks:
      bdCluster:
        ipv4_address: 192.168.1.41
    ports:
      - 8081:8081
    volumes:
      - ./etc-wk:/etc/trino
      - ./catalog:/etc/trino/catalog

  trino-wk2:
    image: "trinodb/trino:latest"
    hostname: trino-wk2
    container_name: trino-wk2
    restart: unless-stopped
    networks:
      bdCluster:
        ipv4_address: 192.168.1.42
    ports:
      - 8081:8081
    volumes:
      - ./etc-wk:/etc/trino
      - ./catalog:/etc/trino/catalog

  trino-wk3:
    image: "trinodb/trino:latest"
    hostname: trino-wk3
    container_name: trino-wk3
    restart: unless-stopped
    networks:
      bdCluster:
        ipv4_address: 192.168.1.43
    ports:
      - 8081:8081
    volumes:
      - ./etc-wk:/etc/trino
      - ./catalog:/etc/trino/catalog


  