networks:
  bdCluster:
    name: bdCluster
    driver: ipvlan
    external: true
    driver_opts:
      parent: ${ETHERNET_NAME}
    ipam:
      config:
        - subnet: 192.168.1.0/24
          ip_range: 192.168.1.0/24
          gateway: 192.168.1.1

volumes:
  cifs-volume-airflow:
    driver_opts:
      type: cifs
      o: nounix,rw
      device: //worker1.bdc.home/airflow

services:

  x-airflow-common: &airflow-common
    build:
      dockerfile: Dockerfile
      args:
        - PY_VER=${PY_VER}
        - SPARK_VERSION=${SPARK_VERSION}
        - DOCKER_DIR=${DOCKER_DIR}
        - AIRFLOW_IMAGE_NAME=${AIRFLOW_IMAGE_NAME}
        - GIT_CONFIG_DIR=${GIT_CONFIG_DIR}
        - GIT_CONFIG_ADDRESS=${GIT_CONFIG_ADDRESS}
    restart: unless-stopped
    environment:
      TZ: "Asia/Kolkata"
      AIRFLOW_CONFIG: '/opt/airflow/config/airflow.cfg'

  airflow:
    <<: *airflow-common
    container_name: airflow
    hostname: airflow.bdc.home
    entrypoint: ["/bin/bash", "/root/s_scripts/airflow-m.sh"]
    networks:
      bdCluster:
        ipv4_address: 192.168.1.34
    ports:
      - 8080:8080
      - 5555:5555
      - 8794:8794
    volumes:
      - cifs-volume-airflow:/root/airflow:z
  
  airflow-w1:
    <<: *airflow-common
    container_name: airflow-w1
    hostname: airflow-w1.bdc.home
    entrypoint: ["/bin/bash", "/root/s_scripts/airflow-w.sh"]
    networks:
      bdCluster:
        ipv4_address: 192.168.1.121
    ports:
      - 8793:8793
    volumes:
      - cifs-volume-airflow:/root/airflow:z

  airflow-w2:
    <<: *airflow-common
    container_name: airflow-w2
    hostname: airflow-w2.bdc.home
    entrypoint: ["/bin/bash", "/root/s_scripts/airflow-w.sh"]
    networks:
      bdCluster:
        ipv4_address: 192.168.1.122
    ports:
      - 8793:8793
    volumes:
      - cifs-volume-airflow:/root/airflow:z

  airflow-w3:
    <<: *airflow-common
    container_name: airflow-w3
    hostname: airflow-w3.bdc.home
    entrypoint: ["/bin/bash", "/root/s_scripts/airflow-w.sh"]
    networks:
      bdCluster:
        ipv4_address: 192.168.1.123
    ports:
      - 8793:8793
    volumes:
      - cifs-volume-airflow:/root/airflow:z