networks:
  bdCluster:
    name: bdCluster
    driver: ipvlan
    #external: true
    driver_opts:
      parent: wlo1
    ipam:
      config:
        - subnet: 192.168.1.0/24
          ip_range: 192.168.1.0/24
          gateway: 192.168.1.1

volumes:
  cifs-volume-jobs:
    driver_opts:
      type: cifs
      o: nounix,rw
      device: //worker1.bdc.home/jobs

services:
  
  x-airflow-common: &airflow-common
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - SPARK_VERSION=${SPARK_VERSION}
    env_file:
      - airflow.env
    volumes:
      - /home/mayanksingh/Projects/airflow_setup/jobs:/opt/airflow/jobs:z
      - /home/mayanksingh/Projects/airflow_setup/dags:/opt/airflow/dags
      - /home/mayanksingh/Projects/airflow_setup/logs:/opt/airflow/logs
    network_mode: host

  api-server:
    <<: *airflow-common
    container_name: api-server
    command: airflow api-server
    ports:
      - "8080:8080"
    depends_on:
      - scheduler

  scheduler:
    <<: *airflow-common
    container_name: scheduler
    command: bash -c "airflow db migrate && airflow users create --username airflow --firstname Mayank --lastname Singh --role Admin --email dummy --password airflow && airflow scheduler"
