apache-airflow-providers-apache-spark
apache-airflow-providers-trino
apache-airflow-providers-git
apache-airflow-providers-http
apache-airflow-providers-fab
apache-airflow-providers-amazon
psycopg2-binary
flask-appbuilder
pandas
asyncpg
starlette
