networks:
  bdCluster:
    name: bdCluster
    driver: ipvlan
    external: true
    driver_opts:
      parent: ${ETHERNET_NAME}
    ipam:
      config:
        - subnet: 192.168.1.0/24
          ip_range: 192.168.1.0/24
          gateway: 192.168.1.1

services:
  kafka-1:
    extends:
      file: ../common.yml
      service: kafka
    hostname: kafka-1.bdc.home
    container_name: kafka-1
    networks:
      bdCluster:
        ipv4_address: 192.168.1.51
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENERS: 'INTERNAL://kafka-1.bdc.home:29092,CONTROLLER://kafka-1.bdc.home:29093,EXTERNAL://kafka-1.bdc.home:9092'
      KAFKA_ADVERTISED_LISTENERS: 'EXTERNAL://kafka-1.bdc.home:9092,INTERNAL://kafka-1.bdc.home:29092'
      KAFKA_ADVERTISED_HOST_NAME: 'kafka-1.bdc.home'

  kafka-2:
    extends:
      file: ../common.yml
      service: kafka
    hostname: kafka-2.bdc.home
    container_name: kafka-2
    networks:
      bdCluster:
        ipv4_address: 192.168.1.52
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_LISTENERS: 'INTERNAL://kafka-2.bdc.home:29092,CONTROLLER://kafka-2.bdc.home:29093,EXTERNAL://kafka-2.bdc.home:9092'
      KAFKA_ADVERTISED_LISTENERS: 'EXTERNAL://kafka-2.bdc.home:9092,INTERNAL://kafka-2.bdc.home:29092'
      KAFKA_ADVERTISED_HOST_NAME: 'kafka-2.bdc.home'

  kafka-3:
    extends:
      file: ../common.yml
      service: kafka
    hostname: kafka-3.bdc.home
    container_name: kafka-3
    networks:
      bdCluster:
        ipv4_address: 192.168.1.53
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_LISTENERS: 'INTERNAL://kafka-3.bdc.home:29092,CONTROLLER://kafka-3.bdc.home:29093,EXTERNAL://kafka-3.bdc.home:9092'
      KAFKA_ADVERTISED_LISTENERS: 'EXTERNAL://kafka-3.bdc.home:9092,INTERNAL://kafka-3.bdc.home:29092'
      KAFKA_ADVERTISED_HOST_NAME: 'kafka-3.bdc.home'      

  kafka-sr:
    image: confluentinc/cp-schema-registry:latest
    hostname: kafka-sr.bdc.home
    container_name: kafka-sr
    restart: unless-stopped
    networks:
      bdCluster:
        ipv4_address: 192.168.1.35
    ports:
      - 8081:8081
    environment:
      SCHEMA_REGISTRY_HOST_NAME: kafka-sr.bdc.home
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka-1.bdc.home:9092,PLAINTEXT://kafka-2.bdc.home:9092,PLAINTEXT://kafka-3.bdc.home:9092
      SCHEMA_REGISTRY_LISTENERS: http://kafka-sr.bdc.home:8081
      # SCHEMA_REGISTRY_STORAGE_TYPE: postgres
      # SCHEMA_REGISTRY_STORE_JDBC_URL: jdbc:postgresql://postgresql.bdc.home:5432/bdc?currentSchema=kafka
      # SCHEMA_REGISTRY_STORE_JDBC_USERNAME: kafka
      # SCHEMA_REGISTRY_STORE_JDBC_PASSWORD: ${DOCKER_PASS}

  ksqldb:
    image: confluentinc/ksqldb-server:latest
    hostname: ksqldb.bdc.home
    container_name: ksqldb
    restart: unless-stopped
    networks:
      bdCluster:
        ipv4_address: 192.168.1.36
    ports:
      - 8088:8088
    environment:
      KSQL_LISTENERS: http://ksqldb.bdc.home:8088
      KSQL_BOOTSTRAP_SERVERS: kafka-1.bdc.home:9092,kafka-2.bdc.home:9092,kafka-3.bdc.home:9092
      KSQL_KSQL_SCHEMA_REGISTRY_URL: http://kafka-sr.bdc.home:8081
      KSQL_PRODUCER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor"
      KSQL_CONSUMER_INTERCEPTOR_CLASSES: "io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor"
      # KSQL_KSQL_CONNECT_URL: "http://connect:8083"
      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_REPLICATION_FACTOR: 1
      KSQL_KSQL_LOGGING_PROCESSING_STREAM_AUTO_CREATE: "true"
      KSQL_KSQL_LOGGING_PROCESSING_TOPIC_AUTO_CREATE: "true"


  # kafka-rest:
  #   image: confluentinc/cp-kafka-rest:latest
  #   hostname: kafka-rest.bdc.home
  #   container_name: kafka-rest
  #   restart: unless-stopped
  #   networks:
  #     bdCluster:
  #       ipv4_address: 192.168.1.38
  #   ports:
  #     - 8082:8082
  #   environment:
  #     KAFKA_REST_HOST_NAME: kafka-rest.bdc.home
  #     KAFKA_REST_LISTENERS: http://kafka-rest.bdc.home:8082
  #     KAFKA_REST_SCHEMA_REGISTRY_URL: http://kafka-sr.bdc.home:8081
  #     KAFKA_REST_BOOTSTRAP_SERVERS: PLAINTEXT://kafka-1.bdc.home:9092,PLAINTEXT://kafka-2.bdc.home:9092,,PLAINTEXT://kafka-3.bdc.home:9092

  # ksql:
  #   image: confluentinc/ksqldb-cli:latest
  #   hostname: ksql.bdc.home
  #   container_name: ksql
  #   restart: unless-stopped
  #   networks:
  #     bdCluster:
  #       ipv4_address: 192.168.1.39
  #   entrypoint: /bin/sh
  #   tty: true
    

  
  

  